<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Celery+Django demo project</title>
</head>
<body>
<ul>
  <li><a href="{% url 'math:main-page' %}">Math demo</a></li>
  <ul>
    <li>
      <a href="#">Get weather</a>
    </li>
    <li>
      <a href="#">Compress image</a>
    </li>
    <li>
      <form action="{% url 'notify:send' %}" method="post">
        {% csrf_token %}
        <input placeholder="Bob" name="user" type="text"/>
        <button>
          Notify
        </button>
      </form>
    </li>
  </ul>
</ul>

</body>
</html>